# (Allow wrapper for CI) previously ignored: gradle-wrapper.jar
/.gradle
/captures/
# /gradlew (unignored for CI)
# /gradlew.bat (unignored for CI)
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
!gradle-wrapper.jar!/gradlew!/gradlew.bat
!gradle-wrapper.jar
!/gradlew
!/gradlew.bat
